<%= form_for(@comment) do |f| %>
    <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
      <div class="share">
        <div class="panel panel-default">
          <div class="panel-heading"><%= f.label :content %></div>
          <div class="panel-body">
            <div class="">
              <%= f.text_area :content, :placeholder => "What's on your mind?", :class=>'form-control message' %>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <%= f.hidden_field :Post_id, :value => params[:id] %>
              <%= f.hidden_field :User_id, :value => current_user.id %>
              <div class="col-md-5">
                <div class="form-group">
                  <%= f.submit :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
<% end %>
