<div class="col-md-6 feed-background" id="post">
  <br/>
  <p style="font-size: 24px; font-weight:bold;">My Comments</p>
  <hr style="border: solid 5px darkgray;">
  <ul class="feedpost">
    <br/>
    <%@posts.each do |post| %>
        <div class="postframe col-md-12" id="post">
          <li>
            <%= link_to view_url(post.id) do %>
                <div class="col-md-10">
                  <p class="post-content"><%=post.content%></p>
                </div>
            <%end%>
            <div class="col-md-2 votes">
              <%= link_to upvote_post_path(post), method: :put do %>
                  <div class="upvote"></div>
              <%end%>
              <br>
              <div class="vote"> <%=post.votes %> </div>
              <br>
              <%= link_to downvote_post_path(post), method: :put do %>
                  <div class="downvote"></div>
              <%end%>
            </div>
          </li>
        </div>
    <%end%>
  </ul>


  <div class="opcomments">
    <% @comments.each do |comment| %>
        <div class="comments col-md-12">
          <!--<p class="votes"><%=comment.votes%></p>-->
          <div class="comment col-md-9">
            <%=comment.content%>
          </div>
          <div class="col-md-3">
            <div class="upvote"></div>
            <div class="vote">&nbsp;&nbsp;0</div>
            <div class="downvote"></div>
          </div>
        </div>
    <%end%>
  </div>
</div>