<%= form_for(@post) do |f| %>
    <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
      <div class="share">
        <div class="panel panel-default">
          <div class="panel-heading"><b>New Rukus Post</b></div>
          <div class="panel-body">
            <div class="">
              <%= f.text_area :content, :placeholder => "What's on your mind?", :class=>'form-control message' %>
            </div>
          </div>
          <div class="panel-footer">
            <div class="row">
              <%= f.hidden_field :User_id, :value => current_user.id %>
              <div class="col-md-5">
                <div class="form-group">
                  <%= f.submit :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_area :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_area :long %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_area :user %>
  </div>
  !-->
<% end %>
