<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

    <!--
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_area :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_area :long %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_area :user %>
  </div>
  !-->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
