<%= form_for(@post) do |f| %>
    <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
      <div class="share">
        <div class="panel panel-default">

          <!--begin tabs going in wide content -->
          <ul class="nav nav-tabs" id="maincontent" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">New Post</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">Add Photo</a></li>
          </ul><!--/.nav-tabs.content-tabs -->

          <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="panel-body">
                <div class="">
                  <%= f.text_area :content, :placeholder => "Ready to make a Rukus?", :class=>'form-control message' %>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <%= f.hidden_field :User_id, :value => current_user.id %>
                  <div class="col-md-5">
                    <div class="form-group">
                      <%= f.submit :class => 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.tab-pane -->

            <div class="tab-pane fade" id="profile">
                            <div class="input-group input-file">
                <div class="form-control">
                </div>
                <span class="input-group-addon">
                  <a class='btn btn-primary'>
                    Browse Image
                    <input type="file" name="field_name" onchange="$(this).parent().parent().parent().find('.form-control').html($(this).val());">
                  </a>
                </span>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <%= f.hidden_field :User_id, :value => current_user.id %>
                  <div class="col-md-5">
                    <div class="form-group">
                      <%= f.submit :class => 'btn btn-primary', :value => "Upload Photo"%>
                    </div>
                  </div>
                </div>
              </div>
            </div><!--/.tab-pane -->

          </div><!--/.tab-content -->

        </div>
      </div>
    </form>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_area :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_area :long %>
  </div>
  <div class="field">
    <%= f.label :votes %><br>
    <%= f.number_field :votes %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_area :user %>
  </div>
  !-->
<% end %>
