<div class="col-md-6 feed-background" id="posts">
    <br/>

    <ul class="feedpost">
      <%= link_to 'New Post', new_post_path %>
      <br/>
      <hr>
      <%@posts.each do |post| %>
          <div class="jumbotron col-md-12" id="post">
            <li>
              <div class="col-md-10">
                <!-- <p class="votes"><%=post.votes%></p> -->
                <p class="content"><%=post.content%></p>
                <%= link_to t('.index', :default => t("Comments")),view_url(post.id)%>
              </div>
              <div class="col-md-2 votes">
                <div class="upvote"></div>
                <br>
                <div style="padding-left:4px;"> <%=post.votes %> 1 </div>
                <br>
                <div class="downvote"></div>
              </div>
              </li>
          </div>
      <%end%>
    </ul>
</div>

<script>
    document.getElementById("post").onmousedown = function () {
        //comments
        //alert("Send to comments")
    };
</script>