

  <div class="op">
    <p class="votes"><%=@post.votes%></p>
    <p class="content"><%=@post.content%></p>
  </div>

  <%= link_to t('.index', :default => t("New comment")),new_url(@post.id)%>

  <div class="opcomments">
    <% @comments.each do |comment| %>
        <p class="votes"><%=comment.votes%></p>
        <p class="comments"><%=comment.content%></p>
    <%end%>
  </div>
