<div class="col-md-6 feed-background" id="posts">
    <br/>

    <ul class="feedpost">
      <%= link_to 'New Post', new_post_path %>
      <br/>
      <hr>
      <%@posts.each do |post| %>
          <%= link_to view_url(post.id) do %>
          <div class="jumbotron col-md-12" id="post">
            <li>
              <div class="col-md-10">
                <!-- <p class="votes"><%=post.votes%></p> -->
                <p class="content"><%=post.content%></p>
                <%= link_to t('.index', :default => t("Comments")),view_url(post.id)%>
              </div>
              <div class="col-md-2 votes">
                <%= link_to upvote_post_path(post), method: :put do %>
                    <div class="upvote"></div>
                <%end%>
                <br>
                <div class="vote"> <%=post.votes %> </div>
                <br>
                <%= link_to downvote_post_path(post), method: :put do %>
                    <div class="downvote"></div>
                <%end%>
              </div>
              </li>
          </div>
          <%end%>
      <%end%>
    </ul>
</div>