<div class="col-md-6" id="post">
  <br/>
<div class="op">
  <p class="votes"><%=@post.votes%></p>
  <p class="content"><%=@post.content%></p>
</div>

  <hr>
  <br/>
<%= link_to t('.index', :default => t("New comment")),new_url(@post.id)%>

  <br/>
  <hr>

<div class="opcomments">
  <ul class="comments">
  <% @comments.each do |comment| %>
        <li>
      <!--<p class="votes"><%=comment.votes%></p>-->
      <p class="comment"><%=comment.content%></p>
        </li>
        <hr>
  <%end%>
  </ul>
</div>
</div>