<div class="col-md-6" id="post">

<div class="op">
  <p class="votes"><%=@post.votes%></p>
  <p class="content"><%=@post.content%></p>
</div>

  <div id="commentinput">
    <%= render :partial => '/comments/form' %>
  </div>

<div class="opcomments">
  <ul class="comments">
  <% @comments.each do |comment| %>
        <li>
      <!--<p class="votes"><%=comment.votes%></p>-->
      <p class="comment"><%=comment.content%></p>
        </li>
        <hr>
  <%end%>
  </ul>
</div>

</div>