<!DOCTYPE html>
<html>
<head>
  <title>Rukus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/user_header' %>

<div id="content">
<%= render 'layouts/post_feed' %>
  <%= yield %>

  <div class="notification">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

</div>

</body>
</html>
